.faq-section {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../img/faq/faq-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/faq/faq-bg-desk.jpg);
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 60px;
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-subtitle {
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.faq-text-wrapper {
  margin-bottom: 60px;

  @include media(desktop) {
    width: 100%;
    max-width: 594px;
    margin-bottom: 0;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 594px;
  }
}

.faq-top-text-btn {
  border-bottom: 1px solid #00fc8c;
  padding: 10px 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #00fc8c;

  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #d6d6d6;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.is-visible {
  margin-left: 16px;
  margin-top: 24px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}

.faq-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
