.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 366px;
  padding-bottom: 32px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 200px;
    padding-bottom: 132px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  text-transform: uppercase;
  color: #00fc8c;
  margin-bottom: 8px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.hero-main-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.35714;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 42px;
    line-height: 1.28571;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #d6d6d6;
  margin-bottom: 40px;

  @include media(desktop) {
    max-width: 538px;
  }
}

.hero-hack-link {
  background: #004135;
  border: 1px solid #00fc8c;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #00fc8c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
    background: rgba(255, 255, 255, 0.2);
  }

  @include media(desktop) {
    max-width: max-content;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
