.puzzles-section {
  @include media(desktop) {
  }
}

.puzzles-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../img/puzzles/puzzles-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/puzzles/puzzles-bg-desk.jpg);
  }
}

.puzzles-container {
  @include media(desktop) {
  }
}

.puzzles-title {
  @include media(desktop) {
  }
}

.puzzles-subtitle {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.puzzles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
  }
}

.puzzles-list-item {
  backdrop-filter: blur(16px);
  background: rgba(18, 18, 18, 0.8);
  border: 1px solid rgba(0, 252, 140, 0.2);
  padding: 19px;
  width: 100%;
  max-width: 343px;
  min-height: 166px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    max-width: 224px;
    min-height: 166px;
  }
}

.puzzles-icon {
  @include media(desktop) {
  }
}

.puzzles-list-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #d6d6d6;

  @include media(desktop) {
  }
}

.puzzles-crack-link {
  background: #004135;
  border: 1px solid #00fc8c;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #00fc8c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
    background: rgba(255, 255, 255, 0.2);
  }

  @include media(desktop) {
    max-width: max-content;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
