<section class="section booking-section" id="booking">
  <div class="container booking-container">
    <div class="booking-content-wrapper">
      <div class="booking-text-wrapper">
        <h2 class="section-title booking-title">Booking & Pricing</h2>
        <p class="section-subtitle booking-subtitle">Reserve Your Mission</p>
        <ul class="booking-list">
          <li class="booking-list-item">
            <svg class="booking-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="booking-list-item-text">Teams: 2–6 players</p>
          </li>
          <li class="booking-list-item">
            <svg class="booking-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="booking-list-item-text">Duration: 60 minutes</p>
          </li>
          <li class="booking-list-item">
            <svg class="booking-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="booking-list-item-text">Price: from $30 per player</p>
          </li>
          <li class="booking-list-item">
            <svg class="booking-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="booking-list-item-text">Location: Insert City / Venue</p>
          </li>
        </ul>
        <a href="#contact" class="booking-book-link">Book Now</a>
      </div>
      <picture>
        <source
          srcset="./img/booking/booking-bg-desk.png"
          media="(min-width: 1440px)"
          width="594"
          height="320" />
        <source
          srcset="./img/booking/booking-bg-mob.png"
          width="343"
          height="320" />
        <img
          class="booking-img"
          src="./img/booking/booking-bg-mob.png"
          alt="Hacker"
          width="343"
          height="320"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
