<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-text-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <p class="section-subtitle contact-subtitle">
          Ready to Outsmart the AI?
        </p>
      </div>
      <ul class="contact-list">
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@smartunitbit.online" class="contact-item-link"
            >info@smartunitbit.online
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <a href="" class="contact-item-link"
            >Cyber Lab Location: Insert City
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-phone"></use>
          </svg>
          <a href="tel:+10009876543" class="contact-item-link"
            >+1 (000) 987-6543
          </a>
        </li>
      </ul>
      <a href="#home" class="contact-link">Contact Us</a>
    </div>
  </div>
</section>
