<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <div class="faq-text-wrapper">
          <h2 class="section-title faq-title">FAQ</h2>
          <p class="section-subtitle faq-subtitle">
            Questions Before You Hack?
          </p>
          <ul class="faq-list">
            <li class="faq-list-item">
              <button class="faq-top-text-btn">
                Is this escape room difficult?
              </button>
              <p class="faq-bottom-text">
                Yes! It’s designed for logic lovers and tech enthusiasts. But
                teamwork makes it possible.
              </p>
            </li>
            <li class="faq-list-item">
              <button class="faq-top-text-btn">
                Do I need programming skills?
              </button>
              <p class="faq-bottom-text">
                Not necessarily. The puzzles use computer-inspired logic but
                require no real coding.
              </p>
            </li>
            <li class="faq-list-item">
              <button class="faq-top-text-btn">Is it safe?</button>
              <p class="faq-bottom-text">
                Absolutely. The high-tech setting looks intense, but it’s fully
                safe and monitored by staff.
              </p>
            </li>
            <li class="faq-list-item">
              <button class="faq-top-text-btn">
                Can we host corporate events?
              </button>
              <p class="faq-bottom-text">
                Yes! Perfect for IT teams, startup groups, or anyone who wants a
                futuristic challenge.
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/faq/faq-img-desk.png"
            media="(min-width: 1440px)"
            width="594"
            height="464" />
          <source srcset="./img/faq/faq-img-mob.png" width="343" height="326" />
          <img
            class="faq-img"
            src="./img/faq/faq-img-mob.png"
            alt="Hacker"
            width="343"
            height="326"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
