<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <p class="hero-subtitle">
        Think like a hacker. Solve puzzles. Escape the system.
      </p>
      <h1 class="hero-main-title">
        Can You Outsmart the System and Escape the Lab?
      </h1>
      <p class="hero-text">
        You’ve been locked inside a futuristic research lab. The AI security
        system is closing in. Firewalls, codes, and encrypted locks stand
        between you and freedom. You have only 60 minutes to crack the system
        and escape.
      </p>
      <a href="#contact" class="hero-hack-link"
        >Hack Your Escape
        <svg class="arrow-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow"></use></svg
      ></a>
    </div>
  </div>
</section>
