<section class="section puzzles-section" id="puzzles">
  <div class="puzzles-bg-wrapper">
    <div class="container puzzles-container">
      <h2 class="section-title puzzles-title">Tech Puzzles</h2>
      <p class="section-subtitle puzzles-subtitle">
        What Awaits Inside Smartunit Bit?
      </p>
      <ul class="puzzles-list">
        <li class="puzzles-list-item">
          <svg class="puzzles-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-code"></use>
          </svg>
          <p class="puzzles-list-item-text">Holographic keypad codes</p>
        </li>
        <li class="puzzles-list-item">
          <svg class="puzzles-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-ai"></use>
          </svg>
          <p class="puzzles-list-item-text">Circuit connection challenges</p>
        </li>
        <li class="puzzles-list-item">
          <svg class="puzzles-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-circle"></use>
          </svg>
          <p class="puzzles-list-item-text">Augmented reality clues</p>
        </li>
        <li class="puzzles-list-item">
          <svg class="puzzles-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-glass"></use>
          </svg>
          <p class="puzzles-list-item-text">Laser grid deactivation</p>
        </li>
        <li class="puzzles-list-item">
          <svg class="puzzles-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-chip"></use>
          </svg>
          <p class="puzzles-list-item-text">AI-driven voice riddles</p>
        </li>
      </ul>
      <a href="#contact" class="puzzles-crack-link">Crack the Code</a>
    </div>
  </div>
</section>
