<section class="section story-section" id="story">
  <div class="container story-container">
    <div class="story-content-wrapper">
      <div class="story-title-wrapper">
        <h2 class="section-title story-title">The Story</h2>
        <p class="section-subtitle story-subtitle">
          Trapped Inside a Digital Fortress
        </p>

        <p class="story-percent">68%</p>
        <p class="story-bots-text">of teams triggered security bots</p>
      </div>
      <div class="story-text-wrapper">
        <p class="story-text">
          In the near future, rogue corporations control everything. You and
          your team of rebels have infiltrated their mainframe to shut it down.
          But the system detected your presence and locked you in a high-tech
          bunker.
        </p>
        <ul class="story-list">
          <li class="story-list-item">
            <svg class="story-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="story-list-item-text">Bypass encrypted firewalls</p>
          </li>
          <li class="story-list-item">
            <svg class="story-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="story-list-item-text">Solve binary code riddles</p>
          </li>
          <li class="story-list-item">
            <svg class="story-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="story-list-item-text">Disable lasers and security bots</p>
          </li>
          <li class="story-list-item">
            <svg class="story-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-checkmark"></use>
            </svg>
            <p class="story-list-item-text">Unlock the final escape protocol</p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/story/story-bg-desk.png"
          media="(min-width: 1440px)"
          width="376"
          height="382" />
        <source
          srcset="./img/story/story-bg-mob.png"
          width="343"
          height="382" />
        <img
          class="story-img"
          src="./img/story/story-bg-mob.png"
          alt="Hacker"
          width="343"
          height="382"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
